In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("diamonds.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [4]:
df.shape

(53940, 11)

# Simple Random Sampling (SRS)

In [7]:
srs = df.sample(10000)
srs

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
22873,22874,1.57,Premium,G,SI1,59.5,58.0,10914,7.56,7.61,4.51
31559,31560,0.38,Premium,H,VS1,61.6,58.0,766,4.65,4.70,2.88
19938,19939,1.20,Ideal,F,VS2,62.6,56.0,8486,6.78,6.73,4.23
24528,24529,1.64,Premium,F,SI1,61.3,58.0,12821,7.65,7.59,4.67
8716,8717,0.37,Ideal,G,SI1,61.9,55.0,586,4.62,4.66,2.87
...,...,...,...,...,...,...,...,...,...,...,...
40481,40482,0.33,Ideal,F,VVS1,61.8,55.0,1141,4.44,4.46,2.75
34722,34723,0.41,Ideal,I,VVS1,61.7,57.0,875,4.73,4.76,2.93
7942,7943,1.02,Very Good,F,SI2,63.0,58.0,4319,6.37,6.43,4.03
45704,45705,0.56,Ideal,I,VVS1,62.0,57.0,1698,5.33,5.29,3.29
4030,4031,0.90,Very Good,E,SI2,63.2,59.0,3526,6.10,6.15,3.87

In [8]:
srs.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,26986.632200,0.790620,61.746890,57.451620,3896.173400,5.717913,5.725556,3.530649
std,15606.889539,0.464231,1.442678,2.268064,3952.559025,1.107406,1.221657,0.685992
min,3.000000,0.200000,43.000000,49.000000,327.000000,0.000000,0.000000,0.000000
25%,13468.750000,0.400000,61.100000,56.000000,949.000000,4.720000,4.730000,2.910000
50%,27155.500000,0.700000,61.800000,57.000000,2376.500000,5.690000,5.700000,3.520000
75%,40565.500000,1.040000,62.500000,59.000000,5285.000000,6.520000,6.520000,4.030000
max,53940.000000,4.000000,79.000000,95.000000,18818.000000,10.010000,58.900000,8.060000

# Stratified Random Sampling(STS)

In [33]:
df["cut"].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [34]:
df[df["cut"] == "Ideal"].sample(1000)
df[df["cut"] == "Premium"].sample(1000)
df[df["cut"] == "Very Good"].sample(1000)
df[df["cut"] == "Good"].sample(1000)
df[df["cut"] == "Fair"].sample(1000)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
48669,48670,0.71,Fair,E,SI2,64.8,63.0,2002,5.63,5.51,3.61
20297,20298,2.50,Fair,G,I1,65.1,59.0,8711,8.55,8.39,5.53
51606,51607,0.70,Fair,F,SI2,65.1,52.0,2394,5.64,5.57,3.65
1098,1099,1.00,Fair,H,SI2,67.0,55.0,2912,6.25,6.12,4.16
7158,7159,1.01,Fair,E,SI1,64.7,59.0,4181,6.23,6.11,3.99
...,...,...,...,...,...,...,...,...,...,...,...
49099,49100,0.64,Fair,F,VS2,57.0,62.5,2063,5.67,5.78,3.26
8202,8203,1.00,Fair,H,VS1,57.4,68.0,4368,6.52,6.47,3.73
45613,45614,0.69,Fair,G,SI2,65.4,63.0,1691,5.49,5.43,3.57
17138,17139,1.50,Fair,H,SI1,65.0,57.0,6838,7.10,7.06,4.60
1768,1769,0.73,Fair,D,VS1,66.0,54.0,3047,5.56,5.66,3.70

In [54]:
strs = pd.DataFrame()
for i in df["cut"].unique():
    strs = strs.append(df[df["cut"] == i].sample(1000))

In [55]:
strs

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
31289,31290,0.32,Ideal,I,SI1,61.9,54.0,450,4.41,4.45,2.74
26969,26970,2.04,Ideal,F,SI2,62.4,56.0,17049,8.07,8.14,5.06
21181,21182,1.58,Ideal,I,SI1,61.7,56.0,9335,7.55,7.48,4.64
24151,24152,1.57,Ideal,F,SI1,61.1,55.0,12320,7.53,7.55,4.61
39353,39354,0.44,Ideal,E,VS2,61.5,56.0,1073,4.92,4.90,3.02
...,...,...,...,...,...,...,...,...,...,...,...
20444,20445,1.51,Fair,G,SI2,65.5,55.0,8794,7.14,7.08,4.66
38895,38896,0.51,Fair,F,SI1,65.6,54.0,1052,5.07,5.02,3.31
39560,39561,0.45,Fair,F,VS2,64.3,59.0,1080,4.80,4.75,3.07
45250,45251,0.50,Fair,G,VVS2,66.1,62.0,1659,4.92,4.88,3.24
11020,11021,1.20,Fair,H,SI2,64.8,60.0,4916,6.55,6.59,4.26

In [56]:
strs.reset_index()

,index,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,31289,31290,0.32,Ideal,I,SI1,61.9,54.0,450,4.41,4.45,2.74
1,26969,26970,2.04,Ideal,F,SI2,62.4,56.0,17049,8.07,8.14,5.06
2,21181,21182,1.58,Ideal,I,SI1,61.7,56.0,9335,7.55,7.48,4.64
3,24151,24152,1.57,Ideal,F,SI1,61.1,55.0,12320,7.53,7.55,4.61
4,39353,39354,0.44,Ideal,E,VS2,61.5,56.0,1073,4.92,4.90,3.02
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,20444,20445,1.51,Fair,G,SI2,65.5,55.0,8794,7.14,7.08,4.66
4996,38895,38896,0.51,Fair,F,SI1,65.6,54.0,1052,5.07,5.02,3.31
4997,39560,39561,0.45,Fair,F,VS2,64.3,59.0,1080,4.80,4.75,3.07
4998,45250,45251,0.50,Fair,G,VVS2,66.1,62.0,1659,4.92,4.88,3.24
4999,11020,11021,1.20,Fair,H,SI2,64.8,60.0,4916,6.55,6.59,4.26

In [45]:
pd.concat([df.iloc[:100:25],df.iloc[100:200:50]])

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
25,26,0.23,Very Good,G,VVS2,60.4,58.0,354,3.97,4.01,2.41
50,51,0.24,Very Good,F,SI1,60.9,61.0,404,4.02,4.03,2.45
75,76,0.26,Very Good,F,VVS2,59.2,60.0,554,4.19,4.22,2.49
100,101,0.75,Very Good,D,SI1,63.2,56.0,2760,5.80,5.75,3.65
150,151,0.71,Premium,D,SI2,61.7,59.0,2768,5.71,5.67,3.51

In [ ]:
df["new_sample"] = pd.cut(df["price"],4,labels="")